@tailwind base;
@tailwind components;
@tailwind utilities;

$outerBorderThickness: 1rem;

h1 {
    font-size: 1.5rem;
    margin-top: 0.3rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: #dd6b20;
    letter-spacing: 0.2rem;
    font-family: sans-serif;
}

@media (min-width: 750px) {
    h1 {
        font-size: 4.5rem;
    }
}

html {
    background: #dd6b20;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

body {
    position: absolute;
    top: $outerBorderThickness;
    bottom: $outerBorderThickness;
    left: $outerBorderThickness;
    right: $outerBorderThickness;
    background: white;
    overflow: auto;
}

button {
    cursor: pointer;
}
